/* CORES
principal: #697cff
vermelha: #f5365c
verde: #66e218
cinza: #f1f3fa;
cinza2: #f8f9fa;
cinza3: #f2f7fc;



principal antiga: #6e69ff;
 */




.imgfundo{
	/*background-image: url('../img/background.png') !important;*/
	background-size: 100% 100% !important;
}
.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: stretch;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
	transform: rotate(0deg);
	transition: all 0.2s;
}
.dropdown-toggle.collapsed::after {
	transform: rotate(-90deg);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

html{
	height: 100%;
}
body {
    font-family: 'Quicksand' !important;
    background-color: #fff !important; /*#fafbfe*/
    height: 100%;
}

p {
    font-family: 'Quicksand';
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.1s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #f2f7fc;
    color: inherit;
	width: 83px;
	min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px 20px 0px;
	height: 120px;
	/*background-image: url('../img/teste2.png');*/
	background-size: 100% 100%;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}
.header-photo {
	width: 40px;
	height: 40px;
	margin: auto;
	/*border: solid 2px #fff;*/
	padding: 2px;
	/*background-image: url('../img/noimage4.png');*/
}
.header-photo img{
	width: 100%;
	height: 100%;;
	border-radius: 50px;
	margin: 0px;
}
#sidebar .header-nome {
	text-align: center;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#sidebar ul.components {
    padding: 15px 0 0 0;
	font-size: .8rem;
}
#sidebar ul li.active{
	background-color: #697cff;
	color: #fff;
}
#sidebar .list-unstyled li span{
	position: absolute;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#sidebar ul p {
    color: #6c757d;
    padding: 15px 30px 15px 30px;
	margin-bottom: 0px;
	letter-spacing: .09em;
    font-size: 0.63rem;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#sidebar ul li{
	padding: 15px 30px 15px 30px;
	font-size: 0.8rem;
}
#sidebar ul > a {
    font-size: 1.1em;
	display: block;
}
#sidebar ul > a i{
    font-size: 1em;
	margin-right: 13px;
}
#sidebar ul > a:hover {
    color: #697cff;
    background-color: #ccd0df;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #697cff;
}
#sidebar ul ul a {
    font-size: 0.9em !important;
}
#sidebar ul ul li{
	padding: 30px 30px 0px 30px;
}
#sidebar ul button{
	font-size: 1.3em;
	margin: 15px 30px 15px 35px;
}
#sidebar .btn-inner--icon{
    /*background: #8581ff;*/
    padding: 1px 3.5px;
    margin-right: 10px;
}

#sidebar.minimized{
	/*width: auto;*/
	text-align: center;
}
#sidebar.minimized .sidebar-header{
	height: auto;
	background: none;
}
#sidebar.minimized .header-photo{
	width: 40px;
	height: 40px;
	position: relative;
}
#sidebar.minimized .header-nome{
	display: none;
}
#sidebar.minimized .list-unstyled > p{
	display: none;
}
#sidebar.minimized .list-unstyled li{
	text-align: center;
	padding: 15px 25px 15px 25px;
}
#sidebar.minimized .list-unstyled li span{
	display: none;
}
#sidebar.minimized .list-unstyled li i{
	font-size: 1.3em;
	margin-right: 0px;
}
#sidebar.minimized ul button{
	margin: 15px 25px 15px 25px;
	font-size: 1.3em;
}
.navigation{
	width: 100%;
}
.navbar ul{
	float: right;
	position: absolute;
	right: 15px;
}
.bg-light {
    background-color: #fff !important;
}
.navbar-brand img{
	width: 160px;
}
.navbar-brand{
	margin-right: 90px !important;
	font-size: 1.3rem;
	font-weight: bold;
	color: #697cff !important;
}
.navbar{
	width: 100%;
	padding: 0.5rem 0px !important;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px){
.navbar-expand-lg {
    height: 70px;
}
}
.container.container-menu{
    width: auto;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
	margin-left: 0px !important;
}
#page{
	width: 100%;
	padding: 0px 0px 0px 30px;
	text-align: left;
}
#page .content{
	display: inline-block;
}
.content{
	background: #fff;
	border-radius: 0.3rem;
	margin-right: 2%;
	margin-bottom: 30px;
	float: left;
	box-sizing: border-box;
    padding: 10px 30px;
    line-height: 30px;
}

.co-1{
	width: 8%;
}
.co-15{
	width: 13%;
}
.co-2{
	width: 18%;
}
.co-25{
	width: 23%;
}
.co-3{
	width: 28%;
}
.co-4{
	width: 38%;
}
.co-5{
	width: 48%;
}
.co-6{
	width: 58%;
}
.co-7{
	width: 68%;
}
.co-75{
	width: 73%;
}
.co-8{
	width: 78%;
}
.co-9{
	width: 88%;
}
.co-10{
	width: 98%;
}

.coh-05{
	height: 50px;
}
.coh-1{
	height: 100px;
}
.coh-2{
	height: 200px;
}
.coh-25{
	height: 250px;
}
.coh-3{
	height: 300px;
}
.coh-35{
	height: 350px;
}
.coh-4{
	height: 400px;
}
.coh-5{
	height: 500px;
}
.coh-6{
	height: 600px;
}
.coh-7{
	height: 700px;
}
.coh-8{
	height: 800px;
}
.coh-9{
	height: 900px;
}
.coh-10{
	height: 1000px;
}

.co-ult{
	margin-right: 0px;
}

.co-direita{
	float: right;
}
.photo{
	padding: 0px !important;
	background-color: transparent !important;
	width: 14.6%;
}

.photo .card{
	background-color: transparent !important;
}

.li-add{
	padding-left: 30px !important;
}
.btn-add{
	text-align: left !important;
}
.btn-icon i{
	font-size: 16px;
}
.btn-diferente{
	padding: 5px 21px;
	width: 100%;
	border: none;
	background-color: #697cff;
	color: #fff;
	cursor: pointer;
	outline: none;
}
.btn-diferente:hover{
	background-color: #909ffe;
}
.btn-diferente:active{
	outline: none;
	background-color: rgba(131,141,184,0.25);
}
.btn-diferente:active{
	outline: none;
}
#encolheMenu{
	bottom: 15px;
	left: 13px;
}
#expandeMenu{
	left: 15px;
	bottom: 15px;
}
.normal-shadow{
	box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}
.circle{
	border-radius: 50%;
}

.filtros{
	margin: 0px 0px 20px 0px;
	font-weight: bold;
	line-height: 100px;
	font-family: Montserrat;
	font-size: 2.5rem;
	letter-spacing: -0.1rem;
	color: #525265;
}
.filtros.categorias{
	border-top: solid 1px #f7f8fc;
}
.filtros.categorias:first-child{
	border-top: none;
}

.content-header {
    padding: 20px 20px 0px;
}
.content-header .header-photo {
	width: 150px;
	height: 150px;
	border-radius: 0.5rem;
	overflow: hidden;
}
.content-header .header-photo img{
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	transition: all 0.1s;
}
.content-header .header-photo:hover img{
	filter: brightness(80%);
	transition: all 0.1s;
}

.centralize{
	text-align: center;
}

.alternative-shadow{
	box-shadow: 0 0 15px 0 rgba(154, 161, 171, 0.48);
}

.float-right{
	float: right;
}

.simple-margin-right{
	margin-right: 2%;
}
.no-margin-right{
	margin-right: 0px !important;
}
.publicadoEvento{
	position: absolute;
	padding: 0px 5px;
	min-width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50px;
	right: -10px;
	top: -10px;
	color: white;
	font-size: 10px;
	font-weight: bold;
	background-color: #697cff;
}
.novoEvento{
		position: absolute;
		padding: 0px 5px;
	    min-width: 30px;
	    height: 30px;
	    text-align: center;
	    line-height: 30px;
	    border-radius: 50px;
	    right: -10px;
	    top: -10px;
		color: white;
		font-size: 10px;
		font-weight: bold;
	background-color: #66e218;
}
.form-edita{
	color: #525f7f !important;
	background-color: transparent !important;
}
.form-edita:focus{
	background-color: #ebeef9 !important;
}
.form-title{
	font-size: 1.5rem !important;
}
.listaEventoServico{
	background-color: #697cff !important;
	color: #fff;
	min-width: 18%;
}
.listaInfoEventoServico{
	background-color: #f3f5ff;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	padding: 5px 10px;
	color: #8898aa;
}
.listaEventoServico .listaInfoEventoServico:nth-child(3){
	border-top-right-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
}
.listaEventoServico .listaInfoEventoServico:nth-child(2n){
	background-color: #fff;
}
.listaEventoServico .listaInfoEventoServico:last-child{
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}
.btn-addListaServico{
	height: 70px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 0.3rem;
    cursor: pointer;
   	margin-right: 2%;
    float: left;
    background-color: rgba(45, 68, 231, 0.24);
	border: none;
	color: #fff;
	box-shadow: none;
	margin-bottom: 30px;
}
.btn-addListaServico:hover{
	background-color: rgba(21, 17, 138, 0.22);
}
.btn-addListaServico:focus{
	outline: none;
}
.btn-addListaServico:active{
	background-color: rgba(21, 17, 138, 0.26);
}
.btn-addServico{
	margin-bottom: 10px;
	width: 100%;
	height: 70px;
	padding: .625rem .75rem;
	font-size: 1rem;
	color: #525f7f !important;
	background-color: #fff;
	border-radius: 0px !important;
	margin: 0px !important;
	line-height: 48px !important;
	border-bottom: solid 1px #f7f8fc;
	text-align: left;
	cursor: pointer;
}
.btn-addServico:hover{
	background-color: #f3f5ff !important;
	color: #697cff !important;
	box-shadow: none !important;
	transform: none !important;
}
.btn-addServico.disabled{
	background-color: rgba(105, 124, 255, .54) !important;
	color: rgba(255,255,255,.75) !important;
	border-bottom-color: #fff !important;
	cursor: default !important;
}
.btn-addServico:last-child{
	border-bottom: none;
}
#tabela_servicos td{
	padding: 10px 20px;
}
#tabela_servicos tr:first-child td:first-child{
	border-top-left-radius: 0.3rem;
}
#tabela_servicos tr:first-child td:last-child{
	border-top-right-radius: 0.3rem;
}
#tabela_servicos tr:last-child td:first-child{
	border-bottom-left-radius: 0.3rem;
}
#tabela_servicos tr:last-child td:last-child{
	border-bottom-right-radius: 0.3rem;
}
#tabela_servicos th{
	padding: 10px 20px;
}

.content .card .card-img-top{
	height: 24vh;
	background-color: #f2f7fc;
	border-radius: 0px !important;
	cursor: pointer;
}
.content .card .card-img-top:hover{
	filter: brightness(0.7);
}
.card-title{
	white-space: nowrap;
	overflow: hidden;
}
.card-body{
	padding: 0.8rem 0px !important;
	font-weight: bold;
}
#action-bar{
	width: 350px;
	min-height: 100vh;
	display: inline-block;
	background-color: #f2f7fc;
}
.modal-dialog.modal-.modal-dialog-centered.servicos{
	max-width: 900px !important;
}
.modal-content{
	max-height: 90vh;
	overflow: auto;
}
.modal-content::-webkit-scrollbar {
  width: 10px;
}
.modal-content::-webkit-scrollbar-track {
  background: transparent; 
}
.modal-content::-webkit-scrollbar-thumb {
  background: rgb(228, 231, 242); 
  border-radius: 0.3rem;
  margin-right: 2px;
}
.modal-content::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 193, 209); 
}
#semCategoria{
	width: 100%;
	height: 100px;
	font-size: 1.2rem;
	color: #697cff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-bottom: 0px;
}
#semCategoria:hover{
	background-color: #f3f5ff;
}
.exc-evento-servico{
	float: right;
	position: relative;
	bottom: 10px;
	left: 25px;
	font-size: 1.1rem;
	cursor: pointer;
	padding: 0px 12px;
}















.rating {
	float:left;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
	follow these rules. Every browser that supports :checked also supports :not(), so
	it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
	  position:absolute;
	  top:-9999px;
	  clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
	  float:right;
	  width:1em;
	  /* padding:0 .1em; */
	  overflow:hidden;
	  white-space:nowrap;
	  cursor:pointer;
	  font-size:200%;
	  /* line-height:1.2; */
	  color:#ddd;
  }

  .rating:not(:checked) > label:before {
	  content: '★ ';
  }

  .rating > input:checked ~ label {
	  color: #ffe700;
	  
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
	  color: #ffe700;
	  
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
	  color: #ffe700;
	  
  }

  .rating > label:active {
	  position:relative;
	  top:2px;
	  left:2px;
  }